.match-container {
    padding: 0.65rem;
    margin: 0.3rem 0;
    border: 1px solid var(--base-highlight-secondary);
    border-radius: 0.5rem;
    background-color: var(--base);
}

.flag-img {
    width: 20px;
    height: 20px;
}

.date {
    color: var(--base-text-secondary);
    font-size: small;
    text-align: center;
}

.country-name-container {
    width: 6rem;
    overflow: auto;
}

.live-dot-container {
    display: flex;
    margin-left: -0.7rem;
    padding-right: 0.3rem;
}

.live-dot {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #ff3b30;
    display: inline-block;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(1.6);
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}