.special-bet-container {
    padding: 0.65rem;
    margin: 0.3rem 0;
    border: 1px solid var(--base-highlight-secondary);
    border-radius: 0.5rem;
    background-color: var(--base);
}


.bet-input {
    width: 1rem;
    zoom: none;
    text-align: center;
    border: 0.05rem solid var(--base-highlight);
    border-radius: 0.2rem;
    background-color: none;
}

.bet-input::-webkit-outer-spin-button,
.bet-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.bet-input[type=number] {
    -moz-appearance: textfield;
}

.duration-bet-input {
    text-align: center;
}

.empty-bet {
    border-color: var(--warn);
}