.special-bet-container {
    padding: 0.65rem;
    margin: 0.3rem 0;
    border: 1px solid var(--base-highlight-secondary);
    border-radius: 0.5rem;
    background-color: var(--base);
}

.bet-select {
    border: 1px solid var(--base-highlight-secondary);
    border-radius: 0.3rem;
    padding: 0.15rem 0.3rem;
    background-color: var(--background);
}

.bet-input {
    width: 1rem;
    zoom: none;
    text-align: center;
    border: 0.05rem solid var(--base-highlight);
    border-radius: 0.2rem;
    background-color: none;
}

.bet-input::-webkit-outer-spin-button,
.bet-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.bet-input[type=number] {
    -moz-appearance: textfield;
}

.empty-bet {
    border: 1px solid var(--warn);
}

.secondary-color {
    color: var(--base-text-secondary);
}

.secondary {
    color: var(--base-text-secondary);
    font-size: small;
}

.result {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bet-1-in-n {
    width: 80%;
    align-content: center;
    align-self: center;
}