.header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    flex: 0 1 auto;
    padding: 1rem;
    padding-bottom: 0rem;
    width: 100%;
}

.tabs-container {
    background-color: white;

    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    border-left: 0.5px solid white;
    margin-top: 0.5rem;
    padding-right: 2rem;

    /* optional nicer scrolling */
    scrollbar-width: none;
}

.tab {
    border: none;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    color: grey;
    flex: 0 0 auto;
    padding: 8px 12px;
    background: white;
    cursor: pointer;
}

.tab.active {
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.main {
    flex: 1 1 auto;
    position: relative;
    padding: 0.7rem;
    padding-top: 6.4rem;
    margin-bottom: 4rem;
}