:root {
    --background: #f2f2f2;
    --base: white;
    --base-text: black;
    --base-text-secondary: grey;
    --base-highlight: #ddd;
    --base-highlight-secondary: #eaeaea;
}

/* :root {
    --background: #00141e;
    --base: #001e28;
    --base-text: #d8dfe6;
    --base-text-secondary: #9a9aa7;
    --base-highlight: #486671;
    --base-highlight-secondary: #0f2d37;
} */