.ranking-position {
    color: var(--base-text-secondary);
    width: 2rem;
}

.first-column {
    width: 140px;
}

.gold {
    border-color: #ffd700;
}

.silver {
    border-color: #c0c0c0;
}

.bronze {
    border-color: #CD7F32;
}